# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Environment variables & local IDE configs
.env
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db